@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dosis&display=swap');

:root {
    --primary-color : #2F9EFF;
    --secondary-color : #887D6E;
    --accent1-color : #fff;
    --accent2-color : #000;
    --heading-font : 'Archivo Black',serif;
    --paragraph-font : Dosis,serif;
    --nav-background-color : #fff;
    --nav-link-color : #064e8d;
    --nav-hover-link-color : #fff;
    --nav-hover-background-color : rgb(6, 78, 141, 0.8);
}
  
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption {
    text-align: center;
}


.hero img {
    display : block;
    width : 100%;
    height : auto;
}

body {
    margin : 0;
    padding : 0;
    padding-bottom : 60px;
    font-family: var(--paragraph-font);
}

h1, h2, h3, h4, h6 {
    font-family: var(--heading-font);
    color : var(--primary-color);
    text-align : center;
}

header {
    padding : 20px;
    background-color : #fff;
    margin : 1rem auto;
    display : flex;
    grid-template-columns : 120px 1fr 2fr;
    align-items : center;
    max-width : 1000px;
}

header img {
    width : 100px;
    height : auto;
    float : left;
}

header nav {
    color: #154f5e;
    padding: 0%;
    text-align: center;
    margin: 1rem;
    margin-left: 0;
    margin-right: 0;
}

.navigation {
    justify-content: center;
}

p {
    padding : 25px;
}

nav {
    font-size : 1.2rem;
    display : flex;
}

nav a {
    display : flex;
    text-decoration : none;
    padding : 1rem;
}

nav a:link, nav a:visited {
    color : var(--primary-color);
}

section img {
    margin : 10px;
    border : #ccc solid 1px;
    float : left;
    width : 180px;
}

img {
    width : 150px;
    height : auto;
    padding : 2px;
}

article img {
    float : right;
}

.main {
    text-align : center;
}

.hero {
    position : relative;
}

.hero img {
    width : 100%;
    height : auto;
    display : block;
}

.hero-content {
    position : absolute;
    top : 50%;
    left : 45%;
    transform : translate(-50%,-50%);
    color : #fff;
    text-align : center;
}

.hero-content h1, .hero-content article {
    position : relative;
}

.hero-content h1 {
    background : rgb(0, 0, 0, 0.7);
    padding : 10px;
    margin : 0;
    color : #fff;
    text-align : center;
    margin : 0 auto;
}

.hero-content article {
    background-color : rgb(0, 0, 0, 0.7);
    padding : 20px;
    text-align : center;
    display : flex;
    flex-direction : row-reverse;
    justify-content : center;
    align-items : center;
    margin : 0 auto;
}

.hero-content article img {
    margin-right : 20px;
    max-width : 400px;
}

section {
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : center;
    flex-wrap : wrap;
}

h2 {
    width : 100%;
    text-align : center;
    margin-bottom : 10px;
}


section img {
    max-width : 100%;
    margin : 0 10px 10px;
}


.form-items {
    display: grid;
    align-items: flex-start;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: var(--paragraph-font);
}

label {
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

fieldset  {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

form {
    width: 850px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

.rafting h1, h2 {
    font-family: var(--paragraph-font);
    text-align: center;
    color: navy;
}

.image-placeholder-1 {
	width: 167px;
	height: 107px;
	background: #E6E6E6;
}

.image-placeholder-2 {
	width: 183px;
	height: 127px;
	background: #E6E6E6;
}

.pics div img {
    display: block;
    margin: 0 auto;
    align-content:last baseline;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: blue;
}

iframe {
    height: 450px;
    width: 750px;
    justify-content: space-around;
}

footer {
    text-align : center;
    padding : 10px;
    background-color : #929eb7;
    position : fixed;
    bottom : 0;
    width : 100%;
    height : 7%;
    display : flex;
    align-items : center;
}

footer img {
    width : 50px;
    height : auto;
    margin-left : 10px;
}

footer p {
    margin : 0;
    flex-grow : 1;
    text-align : center;
}

/* changed February 17th */